.navbar{
    height: 100px;
    background-color: rgb(240, 226, 253);
    border-radius: 10px;
}
.navbar-brand{
    margin-left: 40%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.navbar-nav .nav-link{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 80px;
    color: rgb(121, 2, 2);
}

h1{
    text-align: center;
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(242, 25, 25);
}
#todos{
    background-color: rgb(172, 172, 212);
    padding: 25px;
    border-radius: 30px;
    width:max-content
}
body{
    background-color: rgb(243, 243, 165);
}